//@import "common/invoice-print";
@import "common/invoice-print4";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Satoshi', sans-serif;
  width: 100%;
  height: 100%;
  padding: 5px;
  color: #000;
  background-color: #fff;
}
.invoice-container {
  width: 100%;
  padding: 8px; // Minimal padding
  box-sizing: border-box;
}

.actions {
  width: calc(2480px / 3);
  //width: 80mm;
  margin: 0 auto 8px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 10px;
}

.preview-container  {
  width: calc(2480px / 3);
  margin: 0 auto;
  background: #FFFFFF;
  padding: 30px;
}

body {
  background: #c0c0c0 !important;

}



@media print {
  .preview-container {
    width: 100%;
    padding: 0;
    page-break-before: always;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;

    &:last-child {
      page-break-after: auto;
    }
  }
  body {
    margin: 0;
    padding: 0;
    background: #FFFFFF !important;
  }

  .actions {
    display: none;
  }

  //app-page-loader {
  //  display: none;
  //}

  @page {
    size: auto; /* Match your label dimensions */
    padding: 0;
    margin: 0;
  }
}

.due {
  color: #e0474a
}

.paid {
  color: #39ae50
}

.advanced {
  color: #043b9f
}

.print-button {
  padding: 20px 35px;
}

.logo {
  img {
    width: 150px;
    height: 50px;
  }
}
