<div class="container">

  <div class="content add-page">
    <form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">


      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Enter name" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>


      <div class="action">
        <button (click)="onDiscard()" mat-stroked-button color="warn" type="button" class="discard">
          <mat-icon>arrow_back_ios</mat-icon>
          Discard
        </button>

        @if (!isLoading) {
          <button mat-raised-button color="primary" type="submit">
            <mat-icon>check</mat-icon>
            {{ id ? 'Update Folder' : 'Add Folder' }}
          </button>
        } @else {
          <button class="btn-loader" mat-raised-button type="button" color="primary">
            <div><span class="loader"></span></div>
            <div><span class="txt">{{ id ? 'Update Folder' : 'Add Folder' }}</span></div>
          </button>
        }
      </div> <!-- END! action -->

    </form> <!-- END! form -->
  </div> <!-- END! content -->
</div> <!-- END! container -->
