.scrollable-table-container {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 8px;

  // keep header visible while scrolling
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    th {
      position: sticky;
      top: 0;
      background: #f3f3f3;
      z-index: 1;
    }

    td {
      font-size: 14px;
    }
  }
}
.quantity{
  text-align: center;
}

::ng-deep .mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: none !important;
}


.download-button{
  background-color: #5d36ff !important;
}
