<div class="container">

  <div class="content">
    <div class="sub-content" [style.display]="(!isLoading && allTableData.length) ? 'block' : 'none'">
      <div class="table-wrapper">

        <div class="table-action" [class.dual]="activeSort || filter">
          @if (activeSort || filter) {
            <div class="left">
              <button mat-stroked-button color="accent" (click)="onClearDataQuery()">
                <mat-icon>close</mat-icon>
                Clear FilterData
              </button>
            </div> <!-- END! left -->
          }

          @if (selectedIds && selectedIds.length) {
            <div class="right">
              <button mat-stroked-button color="primary"
                      [matMenuTriggerFor]="menu">
                Change Status
                <mat-icon>arrow_drop_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openConfirmDialog('edit', {status: 'publish'})">Publish</button>
                <button mat-menu-item (click)="openConfirmDialog('edit', {status: 'draft'})">Draft</button>
              </mat-menu>
<!--              <button mat-stroked-button color="warn"-->
<!--                      (click)="openConfirmDialog('delete')"-->
<!--                      matTooltip="Delete">-->
<!--                <mat-icon>delete</mat-icon>-->
<!--              </button>-->
            </div> <!-- END! right -->
          }

        </div> <!-- END! table-action -->

        <table>
          <tr class="td-border first-heading-row">
            <th class="t-checkbox">
              <mat-checkbox [indeterminate]="isIndeterminate" #matCheckbox
                            (change)="onAllSelectChange($event)"></mat-checkbox>
            </th>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          <tr class="td-gap"></tr>
          @for (data of allTableData | paginate: {
            itemsPerPage: dataPerPage,
            currentPage: currentPage,
            totalItems: totalData
          }; track data._id) {
            <ng-container>
              <tr class="td-border" (click)="onTableRowClick(data._id)" [class.selected]="data.select">
                <td class="t-checkbox">
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    class="t-mat-checkbox"
                    [(ngModel)]="data.select"
                    (ngModelChange)="onCheckChange($event, data._id)">
                  </mat-checkbox>
                </td>
                <td class="img-wrapper">
                  <img class="table-image"
                       matTooltip="Click to preview image"
                       (click)="openGallery($event, data.images)"
                       [src]="data.images?.length ? data.images[0] : '/assets/images/png/placeholder.png'" [alt]="''">
                </td>
                <td>
                  <p [matTooltip]="data.name">{{ data.name | limitText: 45 }}</p>
                </td>
                <td>
                  <p>{{ data.description ?? '-' }}</p>
                </td>
                <td>
                  <p><span [ngClass]="data.status">{{ data.status | titlecase}}</span></p>
                </td>
                <td>
                  <button mat-icon-button [matMenuTriggerFor]="tableMenu" (click)="$event.stopPropagation()">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #tableMenu="matMenu">
                    <button [routerLink]="['/catalog/edit-sub-category', data._id]" mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      Edit
                    </button>
                    <button mat-menu-item (click)="openDetailsDialog()">
                      <mat-icon>visibility</mat-icon>
                      Details
                    </button>
                  </mat-menu>
                </td>
              </tr>
              <tr class="td-gap"></tr>
            </ng-container>
          }
        </table>
      </div> <!-- END! table-wrapper -->

      <div class="pagination-container">
        <pagination-controls
          class="data-pagination"
          [autoHide]="true"
          [maxSize]="15"
          (pageChange)="onPageChanged($event)">
        </pagination-controls>
      </div> <!-- END! pagination-container -->
    </div> <!-- END! sub-content -->

    @if (isLoading) {
      <app-page-loader></app-page-loader>
    }

    @if (!isLoading && !allTableData.length) {
      <app-no-content
        [matIcon]="'bookmark_added'"
        [title]="'No SubCategorys Added Yet!'"
        [desc]="'Please add some subCategory to show here.'">
      </app-no-content>
    }

  </div> <!-- END! content -->
</div> <!-- END! container -->

@if (isGalleryOpen) {
  <app-gallery-image-viewer [images]="galleryImages"
                            [startIndex]="selectedImageIndex"
                            (closeEvent)="closeGallery()">
  </app-gallery-image-viewer>
}
