
.dialog-container {
  width: 370px;
  padding: 16px;
}


.btn-round {
  margin: auto;
  width: 150px;
  padding: 18px 14px;
  font-size: 14px;
  border-radius: 50px;
}


.actions-around {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

  button {
    ::ng-deep {
      span {
        color: #fff;
      }
    }
  }
}

@media only screen and (max-device-width: 599px) {

  .dialog-container {
    width: 95%;
    margin: 0 auto;
  }

  .btn-round {
    margin: auto;
    width: 130px;
    padding: 16px 5px;
    font-size: 14.5px;
    border-radius: 50px;

    &:first-child {
      margin-right: 10px;
    }
  }


}
