.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  z-index: 9999;

  .progress-bar-inner {
    height: 100%;
    width: 0;
    background-color: #635dff;
    animation: load 2s linear infinite;
  }
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
