<div class="container">
  <div class="header">
    <div class="left">
      <h1 class="title">Add Package</h1>
      <div class="line"></div>
      <div class="bread">
        <app-breadcrumb [navArray]="navArray"></app-breadcrumb>
      </div>
    </div>
  </div> <!-- END! Header -->


  <div class="content">
    <form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">


      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Enter name" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Package Type</mat-label>
        <mat-select formControlName="type">
          <mat-option> none</mat-option>
          <mat-option *ngFor="let data of packageTypes" [value]="data.value">
            {{ data.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Price</mat-label>
        <input formControlName="price" matInput placeholder="Enter price" type="number"
               pattern="^\d+(\.\d{1,2})?$" digitOnly [decimal]="true" />
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <div class="d-row">
        <mat-form-field appearance="outline" >
          <mat-label>Discount Type</mat-label>
          <mat-select formControlName="discountType">
            <mat-option> none</mat-option>
            <mat-option *ngFor="let data of discountTypes" [value]="data.value">
              {{ data.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>Discount Amount</mat-label>
          <input formControlName="discountAmount" matInput placeholder="Enter discount amount" type="number"
                 pattern="^\d+(\.\d{1,2})?$" digitOnly [decimal]="true" [required]="dataForm.value['discountType']" />
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>

      <div class="d-row">
        <mat-form-field appearance="outline">
          <mat-label>Renew In Day</mat-label>
          <input formControlName="renewInDay" type="number" digitOnly matInput placeholder="Enter Renew In Day">
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>

      <mat-card class="content-main content-2">
        <div class="title">
          <h4>Features</h4>
        </div>


        <div class="form-array-container">
          <div formArrayName="features" class="form-array-input">
            <div class="single-field" *ngFor="let data of featuresDataArray?.controls; let i = index">

              <mat-form-field appearance="outline">
                <mat-label>Features Value {{i + 1}}</mat-label>
                <input [formControlName]="i" matInput [placeholder]="'Enter feature text' + i + 1">
              </mat-form-field>
              <button type="button" mat-mini-fab color="warn" (click)="removeFormArrayField('features', i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <div class="add-form-array-action">
            <button type="button" mat-button color="accent" (click)="onAddNewFormString('features')">
              <mat-icon>add</mat-icon>
              Add New feature
            </button>

          </div>
        </div>
      </mat-card>

      <mat-card class="specifications">
        <div class="form-array-container">
          <div formArrayName="dataLimits" class="form-array-input">
            <div class="single-field" *ngFor="
                let data of dataLimitsDataArray?.controls;
                let i = index
              " [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" type="text" matInput [placeholder]="'Enter Name'" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Value</mat-label>
                <textarea formControlName="value" matInput placeholder="Enter value" [rows]="1"></textarea>
              </mat-form-field>

              <button class="btn-form-field-remove" type="button" mat-mini-fab color="warn"
                      (click)="removeFormArrayField('dataLimits', i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <div class="add-form-array-action">
            <button type="button" mat-button color="primary" (click)="onAddNewSpecifications('dataLimits')">
              <mat-icon>add</mat-icon>
              Create New Data Limits
            </button>
          </div>
        </div>
        <!-- END VARIATIONS FORM ARRAY -->
      </mat-card>


      <mat-card class="specifications">
        <div class="form-array-container">
          <div formArrayName="routeLimits" class="form-array-input">
            <div class="single-field" *ngFor="
                let data of routeLimitsDataArray?.controls;
                let i = index
              " [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" type="text" matInput [placeholder]="'Enter Name'" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Value</mat-label>
                <textarea formControlName="value" matInput placeholder="Enter value" [rows]="1"></textarea>
              </mat-form-field>

              <button class="btn-form-field-remove" type="button" mat-mini-fab color="warn"
                      (click)="removeFormArrayField('routeLimits', i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <div class="add-form-array-action">
            <button type="button" mat-button color="primary" (click)="onAddNewSpecifications('routeLimits')">
              <mat-icon>add</mat-icon>
              Create New Route Limits
            </button>
          </div>
        </div>
        <!-- END VARIATIONS FORM ARRAY -->
      </mat-card>


      <mat-card class="specifications">
        <div class="form-array-container">
          <div formArrayName="featureLimits" class="form-array-input">
            <div class="single-field" *ngFor="
                let data of featureLimitsDataArray?.controls;
                let i = index
              " [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" type="text" matInput [placeholder]="'Enter Name'" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Value</mat-label>
                <textarea formControlName="value" matInput placeholder="Enter value" [rows]="1"></textarea>
              </mat-form-field>

              <button class="btn-form-field-remove" type="button" mat-mini-fab color="warn"
                      (click)="removeFormArrayField('featureLimits', i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <div class="add-form-array-action">
            <button type="button" mat-button color="primary" (click)="onAddNewSpecifications('featureLimits')">
              <mat-icon>add</mat-icon>
              Create New Feature Limits
            </button>
          </div>
        </div>
        <!-- END VARIATIONS FORM ARRAY -->
      </mat-card>


      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let data of dataStatus" [value]="data.value">
            {{ data.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>


      <div class="action">
        <button (click)="onDiscard()" mat-stroked-button color="warn" type="button" class="discard">
          <mat-icon>arrow_back_ios</mat-icon>
          Discard
        </button>

        @if (!isLoading) {
        <button   mat-button class="add-product-btn" color="accent" type="submit">
          <mat-icon>check</mat-icon>
        {{ id ? 'Update Package' : 'Add Package' }}
        </button>
        } @else {
        <button class="btn-loader" mat-button type="button" color="accent">
          <div><span class="loader"></span></div>
          <div><span class="txt">{{ id ? 'Update Package' : 'Add Package' }}</span></div>
          </button>
        }
      </div>

    </form> <!-- END! Form -->

  </div> <!-- END! Content -->
</div>
