@import "variables";
@import "common/container-base";
@import "common/title-header";
@import "common/data-form";
@import "exports/mat-button-loader";

.content {
  width: 96%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 12px 32px;
  height: calc(100vh - 150px);
}
.btn-loader {
  background: $color-accent;
  opacity: 0.85;
}


@media only screen and (max-width: 768px) {
  .content {
    padding: 5px 8px;
    height: calc(100vh - 205px);
  }
}

.form-img-avatar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;

  img {
    cursor: pointer;
    border: 2px solid #c9c9c9;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 85px;
    transition: 0.3s all linear;

    &:hover {
      opacity: 0.7;
    }
  }
}

.variations, .specifications {
  width: 100%;
  padding: 10px;
  //padding: 10px;
  margin-bottom: 24px;
  //min-height: 200px;
  .select-single {
    max-width: 350px;
    width: 100%;
  }
}

.content-main {
  margin-bottom: 24px;
  padding: 10px;
  .title {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: $font-en-primary;
    color: #565555;
    line-height: 20px;
  }
}

/**
FORM BUILDER
 */
.form-array-input {
  width: 100%;

  .single-field {
    width: 100%;
    display: flex;
    gap: 8px;

    mat-form-field {
      flex: 1;
    }

    .variation-img {
      position: relative;
      width: 60px;
      height: 60px;

      .btn-img-remove {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }

      &:hover {
        .btn-img-remove {
          display: block;
        }
      }
    }
    .btn-form-field-remove {
      margin-top: 10px;
    }
  }
}

*::-webkit-scrollbar {
  display: none;
}
