@import "variables";

.bottom-tab {
  position: absolute;
  bottom: -100%; /* Start off-screen */
  left: 50%;
  transform: translateX(-50%);
  min-width: 700px;
  transition: bottom 0.4s ease, opacity 0.4s ease;
  opacity: 0;

  &.active {
    bottom: 10%;
    opacity: 1;
  }

  .action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191a22;
    padding: 10px 20px;
    border-radius: 40px;
    color: #fff;

    .action-bar-left {
      display: flex;
      align-items: center;

      .close-btn {
        background: none;
        border: none;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        margin-right: 20px;
      }

      .items-selected {
        display: flex;
        align-items: center;
        font-size: 14px;
        flex-wrap: nowrap;

        .item-count {
          white-space: nowrap;
          background-color: #6f6b7d;
          border-radius: 50%;
          padding: 5px 10px;
          font-size: 12px;
          margin-right: 5px;
        }
      }
    }

    .action-bar-right {
      display: flex;
      align-items: center;

      .action-btn {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        font-size: 14px;
        cursor: pointer;
        margin-left: 10px;

        &.change-status-btn {
          background-color: #4b4b60;
          color: #fff;

          svg {
            margin-right: 5px;
          }
        }

        &.delete-btn {
          background-color: #ff4e4e;
          color: #fff;

          svg {
            margin-right: 5px;
          }
        }

        i {
          margin-right: 5px;
        }
      }
    }
  }
}
