@import "variables";

.btn {
  background-color: $color-primary;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: calc($font-readable + 2px);
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  font-weight: 500;
  font-family: var(--font-primary);
  span {
    line-height: 1;
  }

  svg {
    margin-left: 8px;
    fill: #ffffff;
    transition: transform 0.3s ease;
    height: 1em;  // Ensures the SVG icon scales according to the text size
    width: auto;  // Maintain the aspect ratio of the SVG icon
  }

  &:hover {
    background-color: darken($color-primary, 10%);

    svg {
      transform: translateX(5px);
    }
  }

  &.btn-outline {
    color: $color-primary;
    background: #ffffff;
    border: 1px solid $color-primary;

    &:hover {
      background: #ede9ff;
    }
  }

  &.btn-loading {
    width: 160px;
    opacity: 0.9;
    cursor: not-allowed;

    &:hover {
      background-color: $color-primary;
      opacity: 0.9;
    }
  }

  &.disabled {
    background-color: #e0e0e0;
    color: #9e9e9e;
    cursor: not-allowed;

    svg {
      fill: #9e9e9e;
    }

    &:hover {
      background-color: #e0e0e0;

      svg {
        transform: none;
      }
    }
  }
}
