@import "variables";

.container {
  //max-width: 1050px;
  width: 95%;
  // background: red;
  margin: 0 auto;
}
.full-sec {
  padding: 15px 0 60px 0;
  h3 {
    font-weight: 900;
    font-size: 25px;
  }
}
.icon-fill-body {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  .icon-border {
    // border: 2px dashed blue; // Dotted border
    border-style:dashed;
  }
  .icon-button {
    // background-color: blue;
  }
  h4 {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 5px;
  }
  p{
    color: rgb(131, 131, 131);
  }
}
.icon-container {
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon-border {
    //width: 65px;
    //height: 65px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    mat-icon {
      color: white;
      font-size: 31px;
      display: unset;
      line-height: 1.2;
    }

    // &:hover {
    //   background-color: #7b1fa2; // Darker shade on hover
    // }
  }
}
button{
  width: 600px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: 900;
  color: white;
}

.description {
  p {
    display: flex;
    gap: 6px;
    padding-top: 3px;
  }
}

.arrow mat-icon {
  transition: transform 0.3s ease;
  color: $color-primary;
}

.arrow:hover mat-icon {
  transform: translateX(5px);
}
