// COLOR
$color-gray: #64748b;
$color-primary:var(--primary);
$color-primary-rgb:var(--primary-rgb);
$color-danger: #ff3838;
$color-border: #dfe7ef;
$text-color: #1e293b;
$color-secondary: #003d1f;
$color-black:#212121;
$color-black-light:#334155;
$color-orange: #ff7d09;
$color-white:#fff;
$color-bg:#EFF3F8;
$box-shadow-primary: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
$side-bar-box-shadow:0px 4px 40px #D9DDFC;
// FONT SIZE
$font-title-size: 28px;
$font-title-md-size: 18px;
$font-dis-size: 16px;