.main-area{
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.courier-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
  justify-content: center;

  .courier-card {
    width: 154px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: border 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    img {
      width: 84px;
      display: block;
      margin: 0 auto;
      height: 23px;
      object-fit: contain;
    }

    &.selected {
      border: 2px solid #57c342;
      box-shadow: 0 0 10px rgba(63, 81, 181, 0.5);
    }

    p {
      margin: 0;
      font-weight: bold;
    }

    .checkmark {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: #57c342;
      color: white;
      width: 20px;
      height: 20px;
      font-size: 14px;
      font-weight: bold;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  button {
    padding: 16px 5px;
    font-size: 14.5px;
    border-radius: 50px;
    width: 100px;
  }
}


.no-provider {
  font-size: 16px;
  color: #ff0000;
  margin: 20px 0;
  text-align: center;
  padding: 20px 0;
  min-height: 100px;
}
