.full-width {
  width: 100%;
}
.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.close-btn {
  margin: -12px -16px 0 0;
}

.save-button {
  text-align: right;
  margin-bottom: 10px;
  button{
    height: 30px;
    max-width: 100px;
    width: 100%;
  }
}

.note-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}

.note-date {
  font-size: 12px;
  color: gray;
  margin: 0;
}

.note-text {
  margin: 5px 0 0 0;
}

.note-actions {
  position: absolute;
  right: 10px;
  top: 10px;
}
