.gallery-image-picker {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;

  .image-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 2px dashed #d3d3d3;
    border-radius: 12px;
    width: 100%;
    height: 120px;
    text-align: center;
    background-color: #fff;

    .upload-button {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;

      svg {
        width: 42px;
        height: auto;
        margin-bottom: 8px;
        fill: #5d5d5d;
      }

      .upload-text {
        font-size: 14px;
        font-weight: bold;
        color: #5d5d5d;
        margin: 0;
        padding-bottom: 4px;
      }

      .upload-instruction {
        font-size: 12px;
        color: #5d36ff;
        margin-top: 10px;
      }
    }
  }

  .single-image-view,
  .multiple-image-view {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    cursor: pointer;

    img {
      display: block;
      max-width: 100%;
      max-height: 120px;
      border-radius: 8px;
      object-fit: cover;
      border: 1px solid #eeeeee;
      user-select: none;
      pointer-events: none; /* Prevent interactions during drag */
    }

    .remove-button {
      position: absolute;
      top: 8px;
      right: 8px;
      background-color: #f7f7f7;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      opacity: 0;
      transition: opacity 0.3s ease;
      border: none;
      outline: none;

      &:hover {
        opacity: 1;
      }

      svg {
        width: 14px;
        height: 14px;
        fill: #5f6368;
      }
    }

    &:hover .remove-button {
      opacity: 1;
    }
  }

  .multiple-image-view {
    display: flex;
    gap: 10px;

    .image-wrapper {
      flex: 1;
      max-width: calc(100% / 3); /* Adjust based on maxImages */
      position: relative;
      display: flex;
      align-items: center;
      transition: transform 0.2s ease;
      cursor: pointer; /* Ensure cursor changes to move during drag */

      img {
        height: 120px;
        object-fit: contain;
        user-select: none;
        pointer-events: none; /* Prevent interactions during drag */
      }

      &:hover {
        transform: scale(1.05); /* Slightly enlarges the item on hover for better user interaction */
      }
      &.dragging {
        opacity: 0.7; /* Visual feedback for the dragged item */
        z-index: 1000;
        cursor: move;

        .remove-button {
          visibility: hidden;
        }
      }

    }

    .small-image-picker {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 120px;
      border: 2px dashed #d3d3d3;
      border-radius: 12px;
      cursor: pointer;
      background-color: #fff;

      .upload-button-small {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;

        svg {
          width: 48px;
          height: 48px;
          margin-bottom: 10px;
          fill: #5d5d5d;
        }

        .upload-text {
          font-size: 16px;
          font-weight: bold;
          color: #5d5d5d;
          margin: 0;
        }
      }
    }
  }
}

.info {
  margin-top: 6px;
  background: #d2fad3;
  padding: 3px 5px;
  border-radius: 5px;
  text-align: center;

  h3 {
    font-size: 12px;
    color: #015905;
  }
}
