.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  max-height: 700px;
  overflow-y: auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.button-area{
  display: flex;
  width: 100%;
  gap: 15px;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
.card img {
  width: 100%;
  border-radius: 10px;
  border: 4px solid;
  max-height: 333.333px;
  object-fit: cover;
}
.card h2 {
  color: #FF8C00;
  font-size: 1.5em;
  margin-top: 10px;
}
.card button {
  background: linear-gradient(to right, #6B46C1, #FF8C00);
  color: white;
  padding: 10px 20px;
  border: none;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}
.card .demo {
  background: linear-gradient(to right, #6B46C1, #FF8C00);
  color: white;
  padding: 10px 20px;
  border: none;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

.card button:hover {
  opacity: 0.9;
}
.card .demo:hover {
  opacity: 0.9;
}

.border-green {
  border-color: #38A169;
}
.border-purple {
  border-color: #6B46C1;
}
