<div class="container">
  <div class="content">
    @for (item of offers; let i = $index; track i) {
      <div class="view-item" [ngClass]="{ 'active-item': selectedIndex === i }">
        <div class="icon-checkbox"
             (click)="toggleCheckbox(i)"
             [ngClass]="{ active: item.status === 'active' }">
          <mat-icon>
            {{ item.status === 'active' ? 'check_circle' : 'radio_button_unchecked' }}
          </mat-icon>
        </div>
        <div class="info" (click)="onSelectItem(i)">
          <h5>{{ item.offerType | titlecase }}</h5>
          <a class="manage-link">
            Show Setting Form
            <span class="material-icons">expand_more</span>
          </a>
        </div>
      </div>
    }
    @if (offers.length < 2) {
      <div class="add-item" (click)="onAddNewDeliveryType()">
        <div class="icon">
          <span class="material-icons">add</span>
        </div>
        <div class="title">
          <h5>Add New Offer</h5>
        </div>
      </div>
    }
  </div>

  <form [style.display]="formViewMode === '' ? 'none' : 'block'" [formGroup]="dataForm" (ngSubmit)="onSubmit()"
        class="form-container">

    <mat-form-field appearance="outline">
      <mat-label>Offer Type</mat-label>
      <mat-select formControlName="offerType">
        @for (item of offerTypes; track $index) {
          <mat-option [value]="item.value" [disabled]="isDisabledOpt(item.value)">
            {{ item.viewValue }}
          </mat-option>
        }
      </mat-select>
      <mat-error>This field is required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="no-underline">
      <mat-label>Discount</mat-label>
      <input formControlName="discount" matInput placeholder="Ex: 500 or 10%"/>
    </mat-form-field>


    @if (!isLoading) {
      <button mat-button class="add-product-btn" color="primary">
        <mat-icon>check</mat-icon>
        Save Changes
      </button>
    } @else {
      <button class="btn-loader" mat-raised-button type="button" color="primary">
        <div><span class="loader"></span></div>
        <div><span class="txt">Save Changes</span></div>
      </button>
    }
  </form>


</div>
