@import "variables";

.container {
  width: 100%;
  //max-width: $container-max-width;
  max-width: 95%;
  margin: 0 auto;

}

.content {
  width: 100%;
  //position: relative;
  //height: calc(100vh - 161px);
  //overflow-y: scroll;
  //padding-top: 60px !important;
}

.add-page {
  padding-top: 60px !important;
}

.right-area{
  display: flex;
  grid-gap: 10px;
  align-items: center;
  button{
    display: flex;
    grid-gap: 10px;
    align-items: center;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    svg{
      width: 15px;
      fill:$color-warn;
    }
  }
}

@media only screen and (max-width: 768px) {
  .content {
    //height: calc(100vh - 252px);
    //padding-top: 20px !important;
  }
  .add-page {
    padding-top: 20px !important;

    form {
      padding-bottom: 60px;
    }
  }
}
