@import "variables";

mat-toolbar {
  height: $toolbar-height;
  padding: 0 36px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;

  #profile-thumb {
    width: 40px;
    height: 40px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid #5D36FF;
      object-fit: cover;
    }
  }

}

.menu-ctrl {
  position: relative;
  .web-link{
    position: absolute;
    top: 2px;
    right: -168px;
    font-size: 15px;
    font-family: $font-en-primary;
    cursor: pointer;

    display: flex;
    gap: 6px;
    align-items: center;
    padding: 1px 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 1px solid transparent;

    &:hover{
      transition: 0.7s ease-in-out;
      text-decoration: underline;
      border: 1px solid $color-primary;
    }
  }

  button {
    color: black;
  }
}


// ## Brand
.brand {
  margin-left: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: 160px;
    max-width: 100%;
    height: auto;
  }
}


.toolbar-action {
  //width: 265px;
  .action-container {
    button {
      mat-icon {
        color: black;
      }
    }
  }
}

.toolbar-date {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 80%;
  .date-container {
    //min-width: 220px;
    //text-align: center;
    //border: 1px solid #b594ff;
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //justify-content: center;
    //padding-left: 10px;
    //padding-right: 10px;
    h4 {
      color: black;
      font-size: 15px;
      font-weight: bold;
      line-height: 1;
      padding-top: 5px;
    }

    app-breadcrumb {
      margin-top: -5px;
    }
  }
}

/*Custom BreakPoint*/
@media only screen and (max-device-width: $max-tablet-width) {
  mat-toolbar {
    padding: 0 16px;
    justify-content: space-between;

    #profile-thumb {
      width: 30px;
      height: 30px;
    }
  }
  .toolbar-date {
    display: none;
  }

  .brand {
    img {
      width: auto;
      height: 56px;
    }
  }
}

@media (max-width: 1000px){
  mat-toolbar {
    padding: 0!important;
    justify-content: space-between;
  }
  .toolbar-date {
    display: none !important;
  }
}

@media only screen and (max-device-width: 599px) {
  mat-toolbar {
    height: 65px;
    padding: 0!important;

    .brand-logo {
      width: 70px;
      margin-left: 10px;
    }
  }

  .brand {
    margin-left: 8px;
    img {
      width: 185px;
      height: auto;
    }
  }

}

@media (max-width: 700px) {
  .toolbar-date {
    .date-container {
      max-width: 170px;
      width: 100%;
    }
  }
}


.mobile-view {
  display: none;
}


.mobile-view-2 {
  display: none;
}


@media (max-width: 599px){
  .web-link {
    display: none !important;
  }
  .mobile-view {
    display: block;

    a {
      padding-top: 10px;
    }
  }

  .mobile-view-2 {
    display: block;
    border-radius: 4px;
    border: 1px solid #9D1B1E;
    background: #FFF;
    box-shadow: 0 0 4px 0 rgba(157, 27, 30, 0.62);
    padding-inline: 2px;

    .tutorial-guide {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .text {
        color: #9D1B1E;
        font-family: $font-en-primary;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}

