@import "variables";


.table-search {
  display: block;
  max-width: 420px;
  min-width: 250px;
  width: 100%;
  position: relative;
}

.table-search input {
  display: block;
  width: 100%;
  background: lighten($color-primary, 37%);
  padding: 11px 15px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid lighten($color-primary, 50%);
  color: #252525;
  font-family: $font-en-primary;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}

.table-search button {
  background: lighten($color-primary, 30%);
  color: $color-primary;
  padding: 7px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  position: absolute;
  top: 0;
  outline: none;
  border: 1px solid transparent;
  right: 0;
}
