@import "exports/button";

.icon-fill-body {
  .icon-border {
    border: 1px dashed blue; // Dotted border
    border-style:dashed;
  }
  .icon-button {
    background-color: blue;
  }
}
.cards {
  display: flex;
  color: rgb(58, 58, 58);
  gap: 30px;
}
.card {
  height: 100px;
  width: 230px;
  border: 2px solid rgb(182, 179, 179);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  .premark {
    display: block;
  }
  .postmark {
    color: #37bc8e;
    display: none;
  }
  .brand {
    img {
      height: 40px;
      width: 160px;
    }
    p {
      padding-top: 10px;
    }
  }
  &.active {
    border: 2px solid rgb(147, 212, 147);
  }
  &.active .premark {
    display: none;
  }
  &.active .postmark {
    display: block;
  }
}

.card-box {
  height: 100px;
  width: 230px;
  border: 2px dashed rgb(102, 101, 101);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  mat-icon {
    font-size: 50px; // Very large icon
    width: 50px;
    height: 50px;
  }
}
.input-fields {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  max-width: 600px;
  width: 100%;
  .no-underline {
    width: 100%; // Set the width to 800px
  }
  button {
    background: blue;
    width: 100%;
  }
}

@media only screen and (max-width: 599px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}

.readonly-select {
  pointer-events: none;
  background-color: #f5f5f5; /* Optional styling for read-only mode */
  backdrop-filter: blur(5px);
}


