@import "variables";
@import "exports/mat-button-loader";
.action-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.theme-colors {
  margin-bottom: 20px;
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    color: #7e7e7e;
    padding-bottom: 10px;
  }

  .color-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .color-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      input[type="color"] {
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .input-color {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }

      input[type="text"] {
        width: 120px;
        height: 45px;
        padding: 0 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 0.9rem;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}


.search-hint {
  h2 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  mat-form-field {
    width: 100%;
    max-width: 580px;
  }
}




button {
  padding: 20px 16px;
}


.view-container {
  padding: 20px;

  .line {
    width: 100%;
    height: 1px;
    background: #c7c7c7;
    margin: 10px 0;
  }

  .section {
    margin-bottom: 30px;

    .section-title {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 10px;
    }

    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 20px;
    }

    .view-item {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;
      border: 1px solid #CCCCCC;
      padding: 20px;
      border-radius: 5px;

      &.active-item {
        border: 1px solid #34c759;
      }

      .icon-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        cursor: pointer;

        mat-icon {
          width: 100%;
          height: 100%;
          font-size: 32px;
          color: #9b9b9b; // Inactive color
          transition: color 0.3s;
        }

        &.active mat-icon {
          color: #34c759; // Active (checked) color
        }
      }

      .info {
        h5 {
          font-size: 18px;
          padding-bottom: 5px;
        }

        .manage-link {
          color: #7b5de4;
          font-size: 14px;
          text-decoration: none;
          display: flex;
          align-items: center;

          span {
            font-size: 16px;
            margin-left: 5px;
          }

          &:hover {
            color: #6540e3;
          }
        }
      }


    }
  }
}
