@import "variables";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  .left {
    display: flex;
    gap: 20px;
    .title {
      font-size: 28px;
      // font-size: 18px;
      color: #7c7884;
      font-weight: 800;
      margin-bottom: 10px;
    }

    .line {
      width: 95px;
      height: 3px;
      background: #fda20b;
    }

    //visibility: hidden;
  }

  .right {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .btn-stroke-primary {
      border: 1px solid $color-primary;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .left {
      text-align: center;

      .title {
        font-size: 24px;
      }

      .line {
        margin: 0 auto;
      }
    }

    .right {
      margin-top: 10px;
    }
  }
}


.header1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;

  .right {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}
