@import "variables";
@import "common/title-header";
@import "common/search-table";

.header {
  margin-top: 0;
  background-color: #fff;
  margin-bottom: 8px;

  .delete-btn {
    border: 1px solid $color-warn;
    height: 36px;
  }

  .folder-btn {
    border: 1px solid $color-primary;
    color: $color-primary;
  }

  .clear-btn {
    border: 1px solid $color-accent;
  }
}

.full-gallery {
  width: 100%;
  height: calc(100vh - $toolbar-height);
  padding: 10px;
  position: relative;

  &.gallery-dialog {
    height: 100vh;
  }
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  padding-bottom: 16px;
  height: calc(100% - 110px);
  overflow-y: scroll;

  .image-container {
    position: relative;
    cursor: pointer;
    border: 1px solid #dedede;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }

    .info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      padding: 10px;
      text-align: left;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;

      h2 {
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }
    }

    &:hover .info {
      opacity: 1;
      visibility: visible;
    }

    .selection-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); // Dark overlay for selected items
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        fill: white; // Ensures the SVG is white
        width: 36px;
        height: 36px;
      }
    }
  }

  .full-width-container {
    grid-column: 1 / -1;

    .spinner {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 5px 0;

      mat-spinner {
        width: 32px !important;
        height: 32px !important;
      }
    }
  }

  &.dragging {
    border-color: #5d36ff; /* Highlight the border when dragging */
    background-color: rgba(93, 54, 255, 0.05); /* Optional background color when dragging */
  }


}
.go-back-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: #5f5f5f;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;

  svg {
    margin-right: 8px;
    transition: transform 0.3s ease;
  }

  &:hover {
    color: $color-warn;

    svg {
      transform: translateX(-4px);

      path {
        fill: $color-warn;
      }
    }
  }
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute; // Changed from absolute to fixed
  bottom: 0; // Ensures it sticks to the bottom
  left: 0;
  right: 0;
  padding: 8px 24px;
  background-color: #fff;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);



  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;
  }

  .upload-button {
    //background-color: #FFFFFF;
    padding: 10px 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: $color-primary;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    //border: 1px dashed $color-primary;
    border: none;

    svg {
      margin-right: 8px;
    }

    &:hover {
      background-color: lighten($color-primary, 35%);
    }
  }

  .selected-button {
    background-color: #ffffff;
    color: $color-primary;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid $color-primary;

    .count {
      background-color: lighten($color-primary, 35%);
      color: $color-primary;
      height: 28px; // Fixed height for the circle
      width: 28px; // Fixed width for the circle
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%; // Perfect circle
      margin-right: 8px; // Space between the circle and text
    }
  }


}


@media only screen and (max-width: 599px) {
  .actions {
    padding: 10px 10px;

    .go-back-button {
      font-size: 12px;

      svg {
        margin-right: 4px;
      }
    }

    .right {
      gap: 8px;
    }

    .upload-button {
      padding: 2px 12px;
      font-size: 12px;

      svg {
        margin-right: 4px;
      }
    }

    .selected-button {
      font-size: 12px;
      padding: 2px 12px;

      .count {
        height: 20px; // Fixed height for the circle
        width: 20px; // Fixed width for the circle
        margin-right: 4px; // Space between the circle and text
      }
    }
  }
}


/**
Upload Animated Button
 */
.upload-button{
  position: relative;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  color: #000;
  overflow: hidden;
  padding: 30px 70px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 20px 50px rgb(255 255 255 / 5%);
  background: lighten($color-primary, 32%);
}
.upload-button:before{
  position: absolute;
  width: 50%;
  top: 2px;
  left: 2px;
  bottom: 2px;
  content: '';
  //background: rgb(142 255 240 / 10%);
}
.upload-button span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #5d36ff, #a790f8);
  animation: animate1 2s linear infinite;
}
@keyframes animate1{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}
.upload-button span:nth-child(2) {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, #5d36ff, #a790f8);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate2{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(100%);
  }
}
.upload-button span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to left, #5d36ff, #a790f8);
  animation: animate3 2s linear infinite;
}
@keyframes animate3{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}
.upload-button span:nth-child(4) {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #5d36ff, #a790f8);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate4{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(-100%);
  }
}

@media(max-width: 520px){
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

    .image-container {
      height: 160px;
    }
  }
}
