@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  //overflow-y: auto;
  //
  //&::-webkit-scrollbar {
  //  width: 6px;
  //}
  //
  //&::-webkit-scrollbar-track {
  //  background: #efefef;
  //}
  //
  //&::-webkit-scrollbar-thumb {
  //  border-radius: 5px;
  //  background: #c7c7c7;
  //}
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-family: $font-en-primary;
}

a,
button,
img {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.dropdown-active {
  background: #E2D6FD !important;

  &:hover {
    background-color: #E2D6FD !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin: 0 !important;
}

img {
  display: block;
  width: 100%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/* --- Global notification --- */

.success {
  --mdc-snackbar-container-color: #00bf61 !important;
}
.warn {
  --mdc-snackbar-container-color: #ff7515 !important;
}
.wrong {
  --mdc-snackbar-container-color: #fe3030 !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border-radius: 2px !important;
}

.fa-spin {
  animation: fa-spin 1s infinite linear !important;
}


/* =UTILS
----------------------------------------------------------------------------- */
.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* =NGX PAGINATION
----------------------------------------------------------------------------- */
.pagination-container {
  //box-sizing: border-box;
  //border: 1px solid #eaeaea;
  //margin: 5px 10px;
  //padding: 10px;
}

.data-pagination {
  width: 100%;
  text-align: center;
}

.data-pagination .ngx-pagination {
  font-family: $font-en-primary;
  margin-bottom: 0;
}

.data-pagination .ngx-pagination li a {
  font-family: $font-en-primary;
  border-radius: 22px;
  padding: 6px 14px;
}

.data-pagination .ngx-pagination .current {
  background: $color-primary;
  border-radius: 22px;
  padding: 6px 14px;
}


//*::-webkit-scrollbar {
//  //display: none;
//  width: 2px;
//}
//*::-webkit-scrollbar-track {
//  background: #efefef;
//}
//
//*::-webkit-scrollbar-thumb {
//  border-radius: 2px;
//  background: #c7c7c7;
//}

/* = Remove Number Arrow
----------------------------------------------------------------------------- */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}


/* =DIALOG CLASS
----------------------------------------------------------------------------- */
.dialog-no-radius >  mat-dialog-container {
  border-radius: 0 !important;
}

.full-screen-modal-lg {
  max-width: unset !important;
  width: 100%;
  height: 100%;
  .mat-dialog-container {
    max-width: 100vw;
    max-height: 100vh;
    height: 100%;
    width: 100%;
    border-radius: 0 !important;
    padding: 10px 0;
    .mat-dialog-content {
      max-height: unset !important;
    }
  }
}


.add-product-btn {
  background-color: $color-primary!important; // Background color for Add Product button
  color: #fff!important;
  text-wrap: nowrap;
}


.pagination{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
