// Fonts Family
$font-en-satoshi: 'Satoshi', sans-serif;
$font-en-primary: $font-en-satoshi;


// MAT TOOLBAR, SIDENAV & LIST
$toolbar-height: 60px;
$sidebar-width: 280px;

// BREAKPOINTS
$max-tablet-width: 899px;

// COLOR
$color-primary: #5d36ff;
$color-secondary: #4b378d;
$color-accent: #1aa4e0;
$color-warn: #d83333;
$btn-single-color: #005692;
$color-primary-dark: #00917e;

$bg-primary: #1E51B5;
$color-font-color: #fff;
$color-white: #FFFFFF;
$color-black: #000000;
$bg-secondary: rgb(50 58 112 / 25%);
$bg-three: rgb(50 58 112 / 25%);
$bg-menu-hover: rgb(50 58 112 / 25%);
$color-primary-gradiant:#124076;

// box-shadow
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

// border-radius
$border-radius: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

// padding
$padding-outside: 15px;

// gap
$gap-outside: 15px;

// Margin
$margin-outside: 15px;

// Border-radius
$border-radius-outside: 12px;

// Fonts
$font-size-title: 28px;
$font-size-sub-title: 20px;
$font-size-sub-paragraph: 16px;

// Table Font Size
$table-heading-font-size: 14px;
$table-data-font-size: 13px;

// Container
$container-max-width: 1440px;
// Container
$header-height: 70px;
$header-height-sm: 64px;
$container-max-width: 1440px;
// Fonts
$font-title: 34px;
$font-title-sm: 26px;

$font-sub-title: 26px;
$font-sub-title-sm: 20px;

$font-title-desc: 16px;
$font-title-desc-sm: 12px;

$font-readable: 14px;
$font-readable-sm: 12px;

// Capsule Color
$capsule-bin: red;
$capsule-green: #ceffa6;
$capsule-blue: blue;
