@import "variables";
@import "exports/mat-button-loader";

.container {
  width: 95%;
  margin: 20px auto 0 auto;
}

.full-sec {
  padding: 15px 0 15px 0;
  h3 {
    font-weight: 900;
    font-size: 25px;
  }
}

.form-container {
  //margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.urlsetting{
  display: flex;
  flex-direction: column;
}

.submit-btn {
  max-width: 180px;
}

.container {
  form {
    ::ng-deep .mat-mdc-checkbox {
      margin-bottom: 0 !important;
    }
  }
}


