@import "common/auth";

.img-placeholder {
    //width: 450px;
  width: 100%;
  //height: 100%;
}
.input-group {
  position: relative;
  //margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  &.is-invalid {
    background-color: #f8d7da;
    border-color: #dc3545;
    input {
      background-color: #f8d7da;
    }
  }

}

.flag {
  display: flex;
  align-items: center;
}

.flag img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.input-field {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 0 5px;
  //border: 1px solid #ccc;
  //&.is-invalid {
  //  background-color: #f8d7da;
  //  border-color: #dc3545;
  //  input {
  //    background-color: #f8d7da;
  //  }
  //}
}




.phone-icon, .eye-icon {
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.password-hint {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #888;
  padding-top: 10px;
  &.strong {
    color: #018e55;
  }
}

.forgot-password {
  text-decoration: none;
  color: #007BFF;
}

.forgot-password:hover {
  text-decoration: underline;
}

.input-icon {
  //position: absolute;
  //top: 50%;
  //right: 10px;
  //transform: translateY(-50%);
  //color: #018e55;
  display: none;

  &.visible {
    display: block;
    height: 24px;
  }

  &.password-eye {
    //right: 40px;
    cursor: pointer;
  }
}

.margin-bottom{
  margin-bottom: 20px;
}
