@import "variables";
@import "common/container-base";
@import "common/title-header";
@import "common/data-form";
@import "exports/mat-button-loader";


.from-section{
  margin: 16px;
}
.btn {

  display: flex !important;
  align-items: center !important;
}


.form-images{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-bottom: 10px;
}
.form-img-mob, .form-img-web{
  .square{
    cursor: pointer;
    border: 1px dashed #c9c9c9;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    .img-icon{
      color: $color-primary;
      font-size: 35px;
      height: fit-content;
      width: fit-content;
      position: absolute;
      top: -10px;
    }
    p{
      color: $color-primary;
      font-family: $font-en-primary;
      font-size: 20px;
      text-wrap: wrap;
      text-align: center;
      margin-top: 30px;
    }
  }
}
.img-close{
  position: relative;
  img {
    cursor: pointer;
    border: 2px solid #c9c9c9;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s all linear;
    &:hover {
      opacity: 0.7;
    }
  }
  .close{
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
    color: #cccccc;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.form-img-avatar-size{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
