<div class="gallery" *ngIf="isVisible">
  <div class="close-btn">
    <button (click)="onClose()">
      <svg fill="#ffffff" height="14px" width="14px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" stroke="#ffffff">
        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
        <g id="SVGRepo_iconCarrier">
          <g>
            <g>
              <polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256 0,452.922 59.076,512 256,315.076 452.922,512 512,452.922 315.076,256 "/>
            </g>
          </g>
        </g>
      </svg>
    </button>
  </div>
  
  <!-- Main Image Slider -->
  <div *ngIf="images.length > 0">
    <div class="main-image-container">
      <div class="slider" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">
        <img *ngFor="let image of images" [src]="image" alt="Gallery Image" class="main-image" />
      </div>
      <button class="nav-btn prev-btn" (click)="prevImage()" *ngIf="images.length > 1">‹</button>
      <button class="nav-btn next-btn" (click)="nextImage()" *ngIf="images.length > 1">›</button>
    </div>
    <div class="index-display">{{ currentIndex + 1 }} / {{ images.length }}</div>
  </div>
  
  <!-- Thumbnails -->
  <div class="thumbnails" *ngIf="images.length > 1">
    <img 
      *ngFor="let image of images; let i = index" 
      [src]="image" 
      class="thumbnail" 
      [class.active]="i === currentIndex"
      (click)="selectImage(i)"
      [alt]="'Thumbnail ' + (i + 1)" 
    />
  </div>
</div>
