
@import "exports/top-data-header";
@import "exports/mat-button-loader";
//@import "/src/theme/exports/_add-from.scss";
@import "common/container-base";
@import "common/title-header";
@import "common/data-form";
@import "exports/mat-button-loader";
@import "variables";
@import "common/container-base";
@import "common/title-header";
@import "common/table-scroll";
@import "common/search-table";
@import "exports/table-tab";
@import "exports/sticky-table-header";
@import "exports/bottom-action";

.disTitle{
  display: flex;
  flex-direction: column;
}
.small-input{
  width: 30% !important;
}
.small-select{
  width: 30% !important;
}

.gallery-picker{
  margin-bottom: 20px;
}

.title {
  margin-top: -58px;
}
.div-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}



@media (min-width: 300px) and (max-width: 600px) {
  .div-one {
    display: grid;
    grid-template-columns: 1fr;
    // gap:15px;
  }
}

.header {
  width: 100%;
  margin: 10px 0;
  padding: 0 12px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

form {
  width: 95%;
  max-width: 1000px;
  margin: 16px auto;

  mat-form-field {
    width: 100%;
  }

  button {
    padding: 4px 24px;
    border-radius: 25px;
  }
}

.form-images{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-bottom: 10px;
}
.form-img-mob, .form-img-web{
  .square{
    cursor: pointer;
    border: 1px dashed #c9c9c9;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    .img-icon{
      color: $color-primary;
      font-size: 35px;
      height: fit-content;
      width: fit-content;
      position: absolute;
      top: -10px;
    }
    p{
      color: $color-primary;
      font-family: $font-en-primary;
      font-size: 20px;
      text-wrap: wrap;
      text-align: center;
      margin-top: 30px;
    }
  }
}
.img-close{
  position: relative;
  img {
    cursor: pointer;
    border: 2px solid #c9c9c9;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s all linear;
    &:hover {
      opacity: 0.7;
    }
  }
  .close{
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
    color: #cccccc;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.form-img-avatar-size{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.quantity-btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

#cart-mines {
  margin-right: 5px;
  border: 1px solid #eee;
  width: 35px;
  height: 35px;
  background-color: #fff;
  font-size: 19px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #808080;
  border-radius: 3px;
  cursor: pointer;
}

#cart-mines:hover {
  color: #000;
  background-color: #FFD200;
}

#cart-plus {
  border: 1px solid #eee;
  width: 35px;
  height: 35px;
  background-color: #fff;
  font-size: 19px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #808080;
  border-radius: 3px;
  cursor: pointer;
}

#cart-plus:hover {
  color: #000;
  background-color: #FFD200;
}

#cart-value {
  margin-right: 10px;
  border: 1px solid #eee;
  max-width: 45px;
  height: 35px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  border-radius: 3px;
  outline: none;
}

.bottom-action {
  width: 95%;
  margin: 10px 10px 10px auto;
  max-width: 550px;
  //height: 200px;
  border: 1px solid #ebebeb;
  //background: #FAFAFA;



  .item {
    width: 100%;
    border: 1px solid #ebebeb;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .left{
      flex: 1;
      display: flex;
      align-items: center;
      padding: 0 10px;
      height: 100%;
      background: #f5f5f5;
      font-size: 14px;
      font-weight: bold;
    }
    .right {
      flex: 1;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 10px;
      p {
        font-size: 15px;
        font-weight: bold;
      }

      mat-form-field {
        margin-top: 10px;
      }
    }
  }
}


::ng-deep .mat-checkbox-layout {

  background-color: white !important;
}


/* overlay-এর হেডারকে Material primary রঙ দিন */
::ng-deep ngx-material-timepicker-content .timepicker__header {
  background: var(--mat-sys-primary, #0f2082);
  color: #fff;
}

/* ডায়াল সাইজ একটু কম্প্যাক্ট করুন (ইচ্ছেমতো) */
::ng-deep ngx-material-timepicker-content .clock-face {
  width: 260px;
  height: 260px;
}

/* নম্বরগুলো ছোট ও রিডেবল */
::ng-deep ngx-material-timepicker-content .clock-face__number span {
  font-size: 12px;
  line-height: 1;
}

/* OK/CANCEL বাটন Material primary টোনে */
::ng-deep ngx-material-timepicker-content .timepicker-button {
  color: var(--mat-sys-primary, #15257f);
  font-weight: 600;
}


::ng-deep.mat-mdc-raised-button{
  height: 44px !important;
}
