<div class="container">
  <div class="header">
    <div class="left">
      <h1 class="title">Add Zone</h1>
      <div class="line"></div>
      <div class="bread">
        <app-breadcrumb [navArray]="navArray"></app-breadcrumb>
      </div>
    </div>
  </div> <!-- END! Header -->


  <div class="content">
    <form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">


      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Enter name" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Select Division</mat-label>
        <mat-select formControlName="division" required (selectionChange)="onDivisionSelect($event)">
          <mat-option *ngFor="let data of divisions" [value]="data._id">
            {{data.name}}
          </mat-option>
        </mat-select>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Select Area</mat-label>
        <mat-select formControlName="area" required>
          <mat-option *ngFor="let data of areas" [value]="data._id">
            {{data.name}}
          </mat-option>
        </mat-select>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let data of dataStatus" [value]="data.value">
            {{ data.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>

      <div class="action">
        <button (click)="onDiscard()" mat-stroked-button color="warn" type="button" class="discard">
          <mat-icon>arrow_back_ios</mat-icon>
          Discard
        </button>

        @if (!isLoading) {
        <button   mat-raised-button color="accent" type="submit">
          <mat-icon>check</mat-icon>
        {{ id ? 'Update Zone' : 'Add Zone' }}
        </button>
        } @else {
        <button class="btn-loader" mat-raised-button type="button" color="accent">
          <div><span class="loader"></span></div>
          <div><span class="txt">{{ id ? 'Update Zone' : 'Add Zone' }}</span></div>
          </button>
        }
      </div>

    </form> <!-- END! Form -->

  </div> <!-- END! Content -->
</div>
