@import "variables";
@import "common/container-base";
@import "common/title-header";
@import "common/table-scroll";
@import "common/search-table";
@import "common/top-data-header";


@import "variables";
@import "common/search-table";

.container {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
}

.table-search{
  margin-left: auto;
}
.header{
  padding: 20px 0;
}

mat-card-header{
  background: #f3f1fd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px !important;

  mat-card-title {
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.left{
  margin-bottom: 20px;
}
*::-webkit-scrollbar {
  display: none;
}


.content {
  overflow-y: inherit !important;
  height: inherit !important;
}

.sub-content {
  overflow-y: auto !important;
  // max-height: 570px !important;
}

.table-wrapper {
  overflow-x: visible !important;
}

.first-heading-row {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 198;
}

.pagination-container {
  position: sticky;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: white;
}
