@import "variables";
@import "common/title-header";
@import "common/search-table";

.full-gallery {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;

}
.header{
  margin-bottom: 20px;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  @media (max-width: 599px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.image-container{
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  cursor: pointer;
  img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    cursor: pointer;
  }

  .bottom-info{
    h2{
      font-size: 16px;
      font-family: $font-en-primary;
      font-weight: 500;
      color: #151515;
      padding: 5px;

    }
  }
}

.keyword-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 5px;
  max-width: 100%;
}

.keyword {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  font-size: 12px;
  font-weight: 500;
  background-color: #eef2f7;
  color: #333;
  border: 1px solid #d5dce1;
  border-radius: 20px;
  transition: all 0.2s ease;
}



.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  padding: 16px;
}

.version-card {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.version-avatar {
  background-color: #3f51b5;
  border-radius: 50%;
}
