//@import "common/invoice-print";
@import "common/invoice-print4";

.data {
  width: 90mm;
  height: auto!important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  width: 100%;
  height: 100%;
  padding: 5px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
}
.invoice-container {
  width: 100%;
  padding: 8px; // Minimal padding
  box-sizing: border-box;
}

.actions {
  width: calc(2480px / 3);
  //width: 80mm;
  margin: 0 auto 8px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 10px;
}

.preview-container  {
  width: calc(2480px / 3);
  margin: 0 auto;
  background: #FFFFFF;
  padding: 30px;
}

body {
  background: #c0c0c0 !important;

}



@media print {
  .preview-container {
    width: 100%;
    padding: 0;
    page-break-before: always;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;

    &:last-child {
      page-break-after: auto;
    }
  }
  body {
    margin: 0;
    padding: 0;
    background: #FFFFFF !important;
  }

  .actions {
    display: none;
  }

  .invoice-wrapper,
  .invoice-container,
  .product-infos,
  .product-info-header,
  .product-info-content,
  .bottom-area {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  //app-page-loader {
  //  display: none;
  //}

  @page {
    size: auto; /* Match your label dimensions */
    padding: 0;
    margin: 0;
  }


  /* New page after each order */
  .invoice-page {
    break-after: page;         /* modern */
    page-break-after: always;  /* legacy */
  }

  /* No page break after the last one */
  .invoice-page:last-child {
    break-after: auto;
    page-break-after: auto;
  }
}
/* Each order one page */
.invoice-page {
  /* Will be visible separately on screen */
  margin-bottom: 12px;
  /* So that inner block doesn't break */
  break-inside: avoid;
  page-break-inside: avoid;
}
.due {
  color: #e0474a
}

.paid {
  color: #39ae50
}

.advanced {
  color: #043b9f
}

.print-button {
  padding: 20px 35px;
}

.logo {
  img {
    width: 150px;
    height: 50px;
  }
}
.top-area{
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid #000000;

}
// Product Information Styles
.product-infos {
  //margin-top: 5px;

  .product-info-header {
    display: grid;
    grid-template-columns: 40% 16% 17% 9% 18%;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;

    .header-style{
      font-weight: 700;
    }

    .border {
      background-color: #DEDEDE;
      -webkit-print-color-adjust: exact;
      padding: 5px 0;
      text-align: center;
      border-right: 1px solid #000000;
      border-bottom: 1px solid #000000;
    }
  }


  .product-info-content {
    display: grid;
    grid-template-columns: 40% 16% 17% 9% 18%;
    border-left: 1px solid #000000;

    .border {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #000000;
      border-bottom: 1px solid #000000;
      padding: 3px;
      font-size: 12px;

      img {
        height: 40px;
        width: 40px;
        padding: 2px 0;
        object-fit: contain;
      }
    }
  }
}

// Summary Section Styles
.product-total-content {
  display: flex;
  justify-content: end;
  width: 100%;
  padding-bottom: 15px;
  //margin-top: 10px;
}

.product-total {
  //margin-top: 10px;
  min-width: 298px;

  .border-btm {
    border-bottom: 1px solid #000000;
  }

  .product-total-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid #000000!important;
    border-left: 1px solid #000000!important;
    border-right: 1px solid #000000!important;

    p {
      padding: 6px;
      font-weight: 600;
      font-size: 12px;
    }

    .quantity {
      //font-weight: 500;
      border-left: 1px solid #000000;
      text-align: right;
    }
  }
}
