.dialog-container {
  position: relative;
  //padding: 15px;
}

.close {
  position: absolute;
  right: 0;
  top: -10px;
  color: #FFFFFF;
  button{
    background: none;
    border: none;
    margin-top: 8px;
    padding: 18px;
    font-size: 18px;
    color: white;
  }
}


.responsive-iframe {
  display:block;
  overflow:auto;
  width: 100%;
  height: 400px;
  margin:0;
}

@media only screen and (max-width: 599px){
  .responsive-iframe {
    height: 300px;
  }
}
