<div class="section">
    <div class="section-main">
        <div class="section-left">
            <div class="section-title">
                  <div>
                      <h3>Revenue Overview</h3>
                  </div>

                  <div class="week-select">
                         <button [ngClass]="{'fill': selectInputStyle === 2}" (click)="revenueFilter('yearly',2)">Yearly <i class="pi pi-angle-down"></i></button>
                         <button [ngClass]="{'fill': selectInputStyle === 3}" (click)="revenueFilter('monthly',3)">Monthly <i class="pi pi-angle-down"></i></button>
                         <button [ngClass]="{'fill': selectInputStyle === 4}" (click)="revenueFilter('weekly',4)">Last Week <i class="pi pi-angle-down"></i></button>
                  </div>
            </div>
            <div class="bar">
                 <app-line-chart [periodData]="periodData"></app-line-chart>
            </div>
        </div>
        <div class="section-right">
               <div class="section-title">
                    <h3>Sales by Category</h3>
               </div>
               <div class="pie-chart">
                   <app-pie-chart></app-pie-chart>
               </div>
        </div>
    </div>
</div>
