<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">

  <button *ngIf="!isUploading" mat-icon-button class="close" type="button" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>

<div class="form-content">
  <mat-checkbox formControlName="isConvert" color="primary">
    <span [class.active-check]="dataForm.get('isConvert').value">Compress as .webp (For better performance)</span>
  </mat-checkbox>
  <app-filter-dropdown
    formControlName="folder"
    [items]="fileFolders"
    [needAddFunc]="true"
    (onAddedNewItem)="addFileFolder($event)"
    [selectedData]="selectItem"
    [maxHeight]="'140px'">
  </app-filter-dropdown>

</div>

  <div class="images">
    <div class="img-thumb" *ngFor="let img of pickedImages; let i = index">
      <img [src]="img" alt="">
      <mat-icon (click)="onRemovePickedImage(i)">close</mat-icon>
    </div>
  </div>

  <div class="info-area">
    <p><b>Important:</b> When you upload please convert your uploaded images .webp format, that will boost your website image performance. And Select a folder for better finding your images.</p>
    <p style="color: #d83333"><b>You can Upload Max 20 Image at the same time</b></p>
  </div>




  <div class="action-area">
    <button class="selected-button" type="submit" *ngIf="!isUploading">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#5f6368"><path d="M0 0h24v24H0z" fill="none"/><path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"/></svg>
      <span>Upload Now</span>
      <div class="count">{{ pickedImages.length }}</div>
    </button>

    <button *ngIf="isUploading" class="selected-button loading" type="button">
      <div><span class="loader"></span></div>
      <span>Uploading...</span>
    </button>
  </div>

</form>


