.single-card-container{
    border: 1px solid #EBEEF5;
    border-radius: 9px;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    padding: 10px;
}

.left {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBEEF5;
}

.right {
    .title {
        font-size: 16px;
        font-weight: 600;
    }
    .description {
        font-size: 14px;
        color: gray;
    }
}