@import "variables";
@import "common/container-base";
@import "common/title-header";
@import "common/data-form";
@import "exports/mat-button-loader";
@import "common/table-scroll";

.variation {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 15px;

  .variation-text {
    font-size: 14px;
    color: #7e7e7e;
    font-weight: 600;
  }

  .variation-list {
    display: flex;
    gap: 7px;
    position: relative;
    background: none;
    border: none;
    .single-variation {
      position: relative;
      border: 1px solid $color-primary;
      border-radius: 5px;
      padding: 7px;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        color: $color-primary;
        background-color: lighten($color-primary, 47%);
      }

      &.active {
        color: $color-white;
        background-color: $color-primary;
        &:hover {
          color: $color-white;
          background-color: $color-primary;
        }
      }
    }


  }
}
.content {
  width: 96%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 12px 32px;
  //height: calc(100vh - 150px);
}

.btn-loader {
  background: $color-accent;
  opacity: 0.85;
}


@media only screen and (max-width: 768px) {
  .content {
    padding: 5px 8px;
    margin-bottom: 100px;
    width: 100%;
    //height: calc(100vh - 205px);
  }
  .table-wrapper{
    margin-bottom: 50px;
  }
  .add-page form {
    padding-bottom: 13px;
  }
}

.form-img-avatar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;

  img {
    cursor: pointer;
    border: 2px solid #c9c9c9;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 85px;
    transition: 0.3s all linear;

    &:hover {
      opacity: 0.7;
    }
  }
}


*::-webkit-scrollbar {
  display: none;
}

.product-search-area {
  .title {
    margin-bottom: 8px;
    color: #525252;
  }
}

.quantity-td {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}
.inc-dec-area{
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-selector {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;

  .btn-decrement,
  .btn-increment {
    width: 35px;
    height: 35px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6b7280; /* Grey color */
    outline: none;
    background: #ffffff;
  }

  .quantity-input {
    width: 40px;
    height: 35px;
    text-align: center;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 18px;
    outline: none;
    color: #050505;
  }

  .quantity-input::-webkit-inner-spin-button,
  .quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}



.payment-summary {
  width: 100%;
  max-width: 417px;
  margin: 20px 0 30px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
  padding-bottom: 5px;

  .summary-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }

    .summary-label {
      font-weight: bold;
      color: #333;
    }

    .summary-value {
      font-weight: bold;
      color: #333;
      min-width: 50px;
      text-align: right;
    }

    .summary-input {
      input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #333;
        outline: none;
        text-align: right;
        color: #333;
        font-size: 18px;
      }
    }
  }

  .grand-total {
    background-color: #fff;
    font-size: 18px;

    .summary-value {
      font-weight: bold;
      color: #000;
    }
  }
}


.variation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 0;

  span{
    //background-color: green;
    //border-radius: 5px;
    //padding: 2% 3%;


    cursor: pointer;

    border: 1px solid #3bb77e;
    border-radius: 5px;
    padding: 7px;
    font-size: 14px;
  }
  .active{
    color: #fff;
    background-color: #3bb77e;
    cursor: pointer;

    border: 1px solid #3bb77e;
    border-radius: 5px;
    padding: 7px;
    font-size: 14px;
  }

}


.phone-input-field {
  width: 90%;
  //max-width: 400px;

  .phone-prefix {
    display: flex;
    align-items: center;
    //margin-right: 8px;
    padding-left: 10px;

    .flag-icon {
      width: 25px;  // Adjust size based on your design
      height: 16px; // Adjust size based on your design
      margin-right: 8px;
    }

    span {
      font-size: 16px;
    }
  }

  input {
    padding-left: 4px; // Adjust padding to fit the flag and prefix nicely
  }

  .loading-spinner {
    margin-right: 12px;
  }
}


.phone-label{
  padding-left: 3px;
  padding-top: 3px;
}


.name-and-variation{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;


}
