<div class="container">

  <div class="content add-page">
    <form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">


      <div class="product-search-area">
        <div class="title">
          <h3>Product:</h3>
        </div>
        <app-product-search (onSelect)="onProductSelect($event)"></app-product-search>
      </div>

      <div class="product-area">
        <!-- <p>Name: {{allTableData[0]?.name}}</p>-->
        <div class="search-results" [ngClass]="{'has-results': allTableData?.length > 0}">
          <div class="search-item">
            <img [src]="allTableData[0]?.images && allTableData[0]?.images?.length ? allTableData[0]?.images[0] : ''"
                 alt="product image"/>
            <div class="item-info">
              <h3>{{ allTableData[0]?.name }}</h3>
              <p>Category: {{ allTableData[0]?.category?.name }} > {{ allTableData[0]?.subCategory?.name }}</p>
              <div class="price-info">
                <span class="discounted-price">{{ allTableData[0]?.salePrice }}</span>
                <span class="original-price">{{ allTableData[0]?.salePrice }}</span>
              </div>
            </div>
            <div class="stock-info" *ngIf="allTableData[0]?.quantity">In Stock: {{ allTableData[0]?.quantity }}pcs</div>
<!--            <div class="stock-info" *ngIf="!allTableData[0]?.variationList?.length">In Stock: {{ allTableData[0]?.quantity }}pcs</div>-->
            <div *ngIf="!allTableData[0]?.quantity && allTableData[0]?.variationList?.length" class="custom-variation-list-design">
              <div *ngFor="let variation of allTableData[0].variationList" class="stock-info">
                In Stock: {{variation?.name}} : {{ variation.quantity }} pcs
              </div>
            </div>
            <button type="button" class="remove-btn" (click)="deleteProduct(0)">
              <mat-icon>close</mat-icon>
            </button> <!-- Remove button -->
          </div>
        </div>
      </div>


      <div class="gallery-picker">
        <app-gallery-image-picker
          [type]="'multiple'"
          [maxImages]="1"
          [isInvalid]="this.dataForm.get('images').touched && this.dataForm.get('images').invalid"
          (onPicked)="onPickedImage($event,'image')"
          infoText="This  image for top section (950px * 350px)"
          [images]="pickedImages">
        </app-gallery-image-picker>
      </div>

      <div class="gallery-picker">
        <app-gallery-image-picker
          [type]="'multiple'"
          [maxImages]="2"
          [isInvalid]="this.dataForm.get('reviewScreenShoot').touched && this.dataForm.get('reviewScreenShoot').invalid"
          (onPicked)="onPickedImage($event,'reviewScreenShoot')"
          infoText="This  images for review Screenshot"
          [images]="certificateImage">
        </app-gallery-image-picker>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Top Slide Text</mat-label>
        <input formControlName="whyBuy" matInput placeholder="Enter slide text" >
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="name" matInput placeholder="Enter title" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="id">
        <mat-label>Slug</mat-label>
        <input formControlName="slug" matInput placeholder="Enter slug">
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 px-1">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput placeholder="Enter image url" [rows]="6"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter Offer Text</mat-label>
        <input formControlName="offerText" matInput placeholder="Enter text">
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter youtube Url</mat-label>
        <input formControlName="videoUrl" matInput placeholder="Enter url">
        <mat-error>This field is required</mat-error>
      </mat-form-field>


      <!--      <div class="description-area">-->
      <!--        <label>Description</label>-->
      <!--        <div class="description-main">-->
      <!--          <app-html-editor  formControlName="description"></app-html-editor>-->
      <!--        </div>-->
      <!--      </div>-->


      <mat-card class="w-100 px-1">
        <div class="title">
          <h4>Benefit</h4>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-100 px-1">
            <mat-label>Benefit Title</mat-label>
            <input formControlName="title" matInput placeholder="Enter title" >
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>

<!--        <div class="gallery-picker">-->
<!--          <app-gallery-image-picker-->
<!--            [type]="'multiple'"-->
<!--            [maxImages]="1"-->
<!--            [isInvalid]="this.dataForm.get('specificationImage').touched && this.dataForm.get('specificationImage').invalid"-->
<!--            (onPicked)="onPickedImage($event,'specificationImage')"-->
<!--            infoText="The  image for any (1080px * 1080px)"-->
<!--            [images]="specificationImage">-->
<!--          </app-gallery-image-picker>-->
<!--        </div>-->

        <div class="form-array-container">
          <div class="add-form-array-action">
            <button class="add-product-btn" type="button" mat-button color="primary"
                    (click)="onAddNewShopObject('specifications')">
              <mat-icon>add</mat-icon>
              Add New Benefit
            </button>
          </div>
          <div formArrayName="specifications" class="form-array-input">
            <div class="single-field"
                 *ngFor="let data of specificationDataArray?.controls; let i = index"
                 [formGroupName]="i">
              <!--              <mat-form-field appearance="outline">-->
              <!--                <mat-label>Title</mat-label>-->
              <!--                <input formControlName="title" matInput/>-->
              <!--                <mat-error>This field is required.</mat-error>-->
              <!--              </mat-form-field>-->
              <div class="desc">
                <!--                <mat-form-field appearance="outline">-->
                <!--                  <mat-label>Description</mat-label>-->
                <!--                  &lt;!&ndash;            <input formControlName="value" matInput [placeholder]="'Enter Description ' + i + 1" type="text">&ndash;&gt;-->
                <!--                  <textarea formControlName="value" matInput [placeholder]="'Enter Description ' + i + 1" type="text" [rows]="1"></textarea>-->
                <!--                </mat-form-field>-->
                <mat-form-field appearance="outline">
                  <mat-label>Title</mat-label>
                  <input formControlName="title" matInput/>
                  <mat-error>This field is required.</mat-error>
                </mat-form-field>

                <button type="button" mat-mini-fab color="warn" (click)="removeFormArrayField('specifications', i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div> <!-- END PHONES FORM ARRAY -->

      </mat-card>



      <!--      <mat-card class="w-100 px-1"  style="margin-top: 20px">-->
      <!--        <div class="title">-->
      <!--          <h4>Why Best</h4>-->
      <!--        </div>-->

      <!--        <div>-->
      <!--          <mat-form-field appearance="outline" class="w-100 px-1" >-->
      <!--            <mat-label>Why Best Title</mat-label>-->
      <!--            <input formControlName="whyBestTitle" matInput placeholder="Enter title" required>-->
      <!--            <mat-error>This field is required</mat-error>-->
      <!--          </mat-form-field>-->
      <!--        </div>-->
      <!--        <mat-form-field appearance="outline" class="w-100 px-1" >-->
      <!--          <mat-label>Description</mat-label>-->
      <!--          <textarea formControlName="whyBestDescription" matInput placeholder="Enter image url" [rows]="6"></textarea>-->
      <!--        </mat-form-field>-->

      <div class="gallery-picker" style="margin-top: 20px;">
        <app-gallery-image-picker
          [type]="'multiple'"
          [maxImages]="1"
          [isInvalid]="this.dataForm.get('specificationImage').touched && this.dataForm.get('specificationImage').invalid"
          (onPicked)="onPickedImage($event,'specificationImage')"
          infoText="The  image for any (1080px * 1080px)"
          [images]="specificationImage">
        </app-gallery-image-picker>
      </div>


      <mat-card class="w-100 px-1" style="margin-top: 20px;">
        <div class="title">
          <h4>Faq</h4>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-100 px-1">
            <mat-label>Faq Title</mat-label>
            <input formControlName="faqTitle" matInput placeholder="Enter title" >
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-array-container">
          <div class="add-form-array-action" style="margin-top: 10px">
            <button class="add-product-btn" type="button" mat-button color="primary" (click)="onAddNewFaq('faqList')">
              <mat-icon>add</mat-icon>
              Add New Faq
            </button>
          </div>
          <div formArrayName="faqList" class="form-array-input">
            <div class="single-field"
                 *ngFor="let data of faqDataArray?.controls; let i = index"
                 [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>Question</mat-label>
                <input formControlName="question" matInput/>
                <mat-error>This field is required.</mat-error>
              </mat-form-field>
              <div class="desc">
                <mat-form-field appearance="outline">
                  <mat-label>Description</mat-label>
                  <textarea formControlName="answer" matInput [placeholder]="'Enter answer ' + i + 1" type="text"
                            [rows]="1"></textarea>
                </mat-form-field>

                <button type="button" mat-mini-fab color="warn" (click)="removeFormArrayField('faqList', i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div> <!-- END PHONES FORM ARRAY -->

      </mat-card>

      <!--      </mat-card>-->
      <mat-card class="w-100 px-1" style="margin-top: 20px">
        <div class="title">
          <h4>Review Title</h4>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-100 px-1">
            <mat-label>Review Title</mat-label>
            <input formControlName="reviewTitle" matInput placeholder="Enter title">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-array-container">
          <div class="add-form-array-action" style="margin-top: 10px">
            <button class="add-product-btn" type="button" mat-button color="primary" (click)="onAddReview('reviews')">
              <mat-icon>add</mat-icon>
              Add New Review
            </button>
          </div>
          <div formArrayName="reviews" class="form-array-input">
            <div class="single-field"
                 *ngFor="let data of reviewsDataArray?.controls; let i = index"
                 [formGroupName]="i">

              <app-gallery-image-picker
                [type]="'multiple'"
                [maxImages]="1"
                [isInvalid]="data.get('image')?.touched && data.get('image')?.invalid"
                (onPicked)="onPickedReview($event, i)"
                infoText="The image for any (154px * 100px)"
                [images]="dataForm.value.reviews[i].image ? [dataForm.value.reviews[i].image] : []">
              </app-gallery-image-picker>

              <mat-form-field appearance="outline">
                <mat-label>Customer Name</mat-label>
                <input formControlName="name" matInput/>
                <mat-error>This field is required.</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Rating</mat-label>
                <input formControlName="rating" matInput type="number"/>
                <mat-error>This field is required.</mat-error>
              </mat-form-field>

              <div class="desc">
                <mat-form-field appearance="outline">
                  <mat-label>Write Review</mat-label>
                  <textarea formControlName="review" matInput [placeholder]="'Enter review ' + i + 1" type="text"
                            [rows]="1"></textarea>
                </mat-form-field>

                <button type="button" mat-mini-fab color="warn" (click)="removeFormArrayField('reviews', i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div> <!-- END PHONES FORM ARRAY -->

      </mat-card>
      <mat-card class="w-100 px-1" style="margin-top: 20px">
        <div class="title">
          <h4>Why Buy and Why Best</h4>
        </div>

        <div class="description-area">
          <!--          <label>Description</label>-->
          <div class="description-main">
            <app-html-editor formControlName="whyBuyDescription"></app-html-editor>
          </div>
        </div>

      </mat-card>
      <mat-card class="w-100 px-1" style="margin-top: 20px">
        <mat-form-field appearance="outline" class="w-100 px-1">
          <mat-label>Payment section Title</mat-label>
          <input formControlName="paymentTitle" matInput placeholder="Enter title" >
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </mat-card>


      <mat-form-field appearance="outline">
        <mat-label>Background Color</mat-label>
        <input formControlName="backgroundColor" matInput placeholder="Ex- #000000">
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Text Color</mat-label>
        <input formControlName="textColor" matInput placeholder="Ex- #000000">
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Products Header Title</mat-label>
        <input formControlName="productHeaderTitle" matInput placeholder="Ex- Product Shown in the Image">
        <mat-error>This field is required</mat-error>
      </mat-form-field>


      <div class="d-row">
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            @for (data of dataStatus; track data.value) {
              <mat-option [value]="data.value">
                {{ data.viewValue }}
              </mat-option>
            }
          </mat-select>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div> <!-- END! d-row -->


      <div class="action">
        <button (click)="onDiscard()" mat-stroked-button color="warn" type="button" class="discard">
          <mat-icon>arrow_back_ios</mat-icon>
          Discard
        </button>

        <button (click)="onPreview()" mat-stroked-button color="primary" type="button" class="preview">
          <mat-icon>visibility</mat-icon>
          Preview
        </button>

        @if (!isLoading) {
          <button mat-button class="add-product-btn" color="primary" type="submit">
            <mat-icon>check</mat-icon>
            {{ id ? 'Update OfferPage' : 'Add OfferPage' }}
          </button>
        } @else {
          <button class="btn-loader" mat-button type="button" color="primary">
            <div><span class="loader"></span></div>
            <div><span class="txt">{{ id ? 'Update OfferPage' : 'Add OfferPage' }}</span></div>
          </button>
        }
      </div> <!-- END! action -->

    </form> <!-- END! form -->
  </div> <!-- END! content -->
</div> <!-- END! container -->
