<div class="dashboard">
  <div class="section recent-orders">
    <div class="header">
      <h2>Recent Orders</h2>
      <div>
<!--        @if (filter?.orderStatus !== 'pending') {-->
<!--          <button style="margin-right: 5px;" color="warn" mat-button class="overview-filter-btn warn"-->
<!--                  (click)="onClearDataQuery()">-->
<!--            <mat-icon>clear</mat-icon>-->
<!--            Clear Filter-->
<!--          </button>-->
<!--        }-->
<!--        <button mat-button class="overview-filter-btn" [matMenuTriggerFor]="menuOverviewFilter">-->
<!--          {{ orderStatus[activeFilter6]?.viewValue ? orderStatus[activeFilter6]?.viewValue : 'Pending' }}-->
<!--          <mat-icon >arrow_drop_down</mat-icon>-->
<!--        </button>-->
      </div>


      <mat-menu #menuOverviewFilter="matMenu">
        @for (data of orderStatus; track $index) {
          <button mat-menu-item
                  (click)="filterData(data.value, $index, 'status')"
                  [class.dropdown-active]="activeFilter6 === $index">
            {{ data.viewValue }}
          </button>
        }
      </mat-menu>
    </div>

    <div class="order-list">
      <div class="order-item" *ngFor="let order of allTableData">
        <div class="order-image">
          <span class="status">{{ order?.orderedItems?.length }}</span>
          <img (click)="openGallery($event, [order?.orderedItems[0]?.image])" [src]="order?.orderedItems[0]?.image ? order?.orderedItems[0]?.image : '/assets/images/temp/pl_1.png'" alt="Order Image">
          <!--          <img src="/assets/images/temp/pl_1.png" alt="Order Image">-->
        </div>
        <div class="order-details">
          <p class="order-id"># {{ order?.orderId }}</p>
          <p class="customer-name">{{ order?.name }}</p>
          <p class="address">{{ order?.shippingAddress }}</p>
          <p class="order-id"> {{ order?.orderStatus | titlecase }}</p>
        </div>

        <div class="order-time">{{ order?.createdAt | date:  'dd MMM, yyyy, hh:mm a' }}</div>
      </div>
    </div>
  </div>

<!--  <app-top-product></app-top-product>-->
</div>


@if (isGalleryOpen) {
  <app-gallery-image-viewer [images]="galleryImages"
                            [startIndex]="selectedImageIndex"
                            (closeEvent)="closeGallery()">
  </app-gallery-image-viewer>
}
