@import "common/container";
@import "common/title-header";
@import "common/search-table";


.card-container{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 1rem;
  margin-top: 30px;
}

.card-item{
  border: 1px solid lighten($color-black, 70%);
  padding: 15px;
  border-radius: 5px;
}



.image-area{
  //height: 100%;
  height: 400px;
  width: 100%;
  max-height: 400px;
  position: relative;
  img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    //object-fit: contain;
  }
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid lighten($color-black, 70%);
}

@media(max-width: 1120px){
  .container{
    margin: 20px auto 0;
  }
  .card-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 768px){
  .card-container{
    grid-template-columns: 1fr;
  }
}
