<div class="container">

  <div class="content add-page">
    <form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">


      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Enter name" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Slug</mat-label>
        <input [readonly]="autoSlug" autoSlug formControlName="slug" matInput placeholder="Enter slug" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput placeholder="Enter description">
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <div class="d-row">
        <mat-form-field appearance="outline">
          <mat-label>Serial</mat-label>
          <input formControlName="serial" matInput placeholder="Enter serial">
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Commission</mat-label>
          <input formControlName="commission" matInput placeholder="Enter commission">
          <mat-error>This field is required</mat-error>
        </mat-form-field>

      </div>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let data of dataStatus" [value]="data.value">
            {{ data.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>

      <div class="action">
        <button (click)="onDiscard()" mat-stroked-button color="warn" type="button" class="discard">
          <mat-icon>arrow_back_ios</mat-icon>
          Discard
        </button>

        @if (!isLoading) {
          <button mat-button class="add-product-btn" color="accent" type="submit">
            <mat-icon>check</mat-icon>
            {{ id ? 'Update Log Manager' : 'Add Log Manager' }}
          </button>
        } @else {
          <button class="btn-loader" mat-button type="button" color="accent">
            <div><span class="loader"></span></div>
            <div><span class="txt">{{ id ? 'Update Log Manager' : 'Add Log Manager' }}</span></div>
          </button>
        }
      </div>

    </form> <!-- END! Form -->

  </div> <!-- END! Content -->
</div>
