@import "variables";

.no-content {
  width: 100%;
  // height: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view {
  display: flex;
  flex-direction: column;

  .icon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 120px;
    background: $color-secondary;
    display: grid;
    place-items: center;

    span {
      color: #cac3e1;
      font-size: 64px;
    }
  }

  .desc {
    margin-top: 16px;

    h3 {
      color: #404040;
      margin: 0;
      line-height: 1.4;
      font-family: $font-en-primary;
      font-weight: 800;
      font-size: 28px;
      text-align: center;
    }

    p {
      font-family: $font-en-primary;
      font-size: 16px;
      text-align: center;
    }
  }

  .action {
    text-align: center;
    margin-top: 10px;
  }
}

@media (max-width: 599px) {
  .view {
    .icon {
      width: 90px !important;
      height: 90px !important;
    }

    h3 {
      font-size: 18px !important;
    }
  }
}

