<div class="container">
  <div class="notification-container" [ngClass]="colorClass">
    <div class="icon-container">
      <mat-icon>{{ matIcon }}</mat-icon>
    </div>
    <div class="notification-content">
      <strong>{{ title }}</strong>
      <p>{{ message }}</p>
    </div>
    <div class="action-container">
      <a [ngClass]="colorClass"   (click)="openDialog(dialogTemplate)">{{ actionText }}</a>
      <button mat-icon-button aria-label="Close notification">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>


  <ng-template #dialogTemplate>
    <div class="notification-container-modal " [ngClass]="colorClass">

      <div class="icon-text-container-modal">
        <div class="icon-container-modal">
          <mat-icon>{{ matIcon }}</mat-icon>
        </div>
        <div class="notification-content-modal">
          <strong>{{ title }}</strong>
          <p>{{ message }}</p>
        </div>
      </div>

      <div class="action-container-modal">
        <button  (click)="goToPaymentPage()">Go to Payment Page <svg fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z"></path></g></svg></button>
      </div>
    </div>
  </ng-template>
</div>
