@import "variables";

.page-list-container {
  max-width: 600px;
  margin: 30px auto 20px;

  .single-page-list {
    padding: 12px 3px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    cursor: pointer;
    border-radius: 5px;

    p {
      padding-left: 5px;
    }

    &:hover {
      p {
        color: $color-primary;
      }
    }
  }
}

//mat-list {
//  cursor: pointer;
//
//  mat-list-item {
//    &:hover {
//      background: #cccccc;
//    }
//  }
//}
