@import "variables";

.all-page-info{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: 350px;
  height: 47px;
  border-radius: 4px;
  border: 1px solid #9D1B1E;
  background: #FFF;
  box-shadow: 0 0 4px 0 rgba(157, 27, 30, 0.62);

  &:hover {
    border: 1px solid $color-primary;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  }

  .page-info {
    //margin: 8px 0;
    h6{
      color: $color-primary;
      font-size: 16px;
      line-height: 25px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      align-items: center;
      li {
        display: inline-block;
        margin-right: 10px;
        padding: 0;

        a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          color: #464646;
          font-weight: 500;
          font-family: $font-en-primary;
          font-style: normal;
          font-size: 14px;
          line-height: 19px;

          .right-arrow {
            transform: rotate(270deg);
          }

          i {
            color: #000;
            opacity: 0.5;
            font-size: 14px;
          }
        }

        &:last-child {
          margin: 0;

          a {
            color: #464646;
            font-weight: 500;

            .right-arrow {
              display: none !important;
            }
          }
        }
      }
    }
  }
  .links{
    display: flex;
    justify-content: center;
    flex-direction: column;

    a{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      svg{
        height: 27px;
        width: 30px;
      }
      p{
        font-size: 14px;
        line-height: 17px;
        color: $color-warn;
      }
    }
  }
}

@media (max-width: 599px) {
  .page-info {
    ul {
      li {
        margin-right: 6px;

        a {
          gap: 6px;
          font-size: 17px;
        }
      }
    }
  }
}
