@import "variables";

/* --- list-card-main --- */
.list-card-main {
  background-color: #ffffff;
  position: relative;
}

/* --- list-card-top --- */
.list-card-top {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .list-card-top-child {
    width: 80px;
    height: 76px;
    background: linear-gradient(to right, #2e9ff5, #5cb1f0);
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 43px;
      height: 43px;
      object-fit: contain;
    }
  }
}

@media (max-width: 748px) {
  .list-card-top {
    .list-card-top-child {
      width: 72px;
      height: 68px;

      img {
        width: 37px;
        height: 37px;
      }
    }
  }
}

@media (max-width: 672px) {
  .list-card-top {
    .list-card-top-child {
      width: 80px;
      height: 76px;

      img {
        width: 43px;
        height: 43px;
      }
    }
  }
}

@media (max-width: 518px) {
  .list-card-top {
    .list-card-top-child {
      width: 72px;
      height: 68px;

      img {
        width: 37px;
        height: 37px;
      }
    }
  }
}

@media (max-width: 438px) {
  .list-card-top {
    .list-card-top-child {
      width: 80px;
      height: 76px;

      img {
        width: 43px;
        height: 43px;
      }
    }
  }
}

/* --- list-card-bottom --- */
.list-card-bottom {
  border-radius: 5px;
  overflow: hidden;
  margin-top: -36px;
  background: linear-gradient(to right, #2e9ff5, #5cb1f0);
}

/* --- list-card-body --- */
.list-card-body {
  padding: 52px 15px 24px;

  h1 {
    font-family: $font-en-primary;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin-bottom: 2px !important;
  }

  p {
    font-family: $font-en-primary;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    font-size: 24px;
    text-align: center;
  }
}

@media (max-width: 1440px) {
  .list-card-body {
    padding: 49px 15px 21px;

    h1 {
      font-size: 28px;
      margin-bottom: 3px !important;
    }

    p {
      font-size: 24px;
    }
  }
}

@media (max-width: 672px) {
  .list-card-body {
    padding: 52px 15px 24px;

    h1 {
      font-size: 35px;
      margin-bottom: 2px !important;
    }

    p {
      font-size: 28px;
    }
  }
}

@media (max-width: 518px) {
  .list-card-body {
    padding: 49px 15px 21px;

    h1 {
      font-size: 28px;
      margin-bottom: 3px !important;
    }

    p {
      font-size: 24px;
    }
  }
}

@media (max-width: 438px) {
  .list-card-body {
    padding: 52px 15px 24px;

    h1 {
      font-size: 33px;
      margin-bottom: 2px !important;
    }

    p {
      font-size: 26px;
    }
  }
}

/* --- list-card-footer --- */
.list-card-footer {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    background-color: #0094ef;
    overflow: hidden;

    li {
      button {
        background-color: #0094ef;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: 0;
        outline: 0;
        padding: 7.5px 4px;
        gap: 12px;
        border-radius: 5px;
        transition: 200ms all linear;

        &:hover {
          opacity: 0.8;
        }

        small {
          svg {
            width: 24px;
            height: 24px;
            fill: #fff;
          }
        }

        span {
          font-family: $font-en-primary;
          font-weight: 400;
          letter-spacing: 0.5px;
          color: #fff;
          font-size: 25px;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 748px) {
  .list-card-footer {
    ul {
      li {
        button {
          gap: 8px;

          small {
            svg {
              width: 20px;
              height: 20px;
            }
          }

          span {
            font-size: 21px;
          }
        }
      }
    }
  }
}

@media (max-width: 672px) {
  .list-card-footer {
    ul {
      li {
        button {
          gap: 12px;

          small {
            svg {
              width: 24px;
              height: 24px;
            }
          }

          span {
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 518px) {
  .list-card-footer {
    ul {
      li {
        button {
          gap: 8px;

          small {
            svg {
              width: 20px;
              height: 20px;
            }
          }

          span {
            font-size: 21px;
          }
        }
      }
    }
  }
}

@media (max-width: 438px) {
  .list-card-footer {
    ul {
      li {
        button {
          gap: 12px;

          small {
            svg {
              width: 24px;
              height: 24px;
            }
          }

          span {
            font-size: 25px;
          }
        }
      }
    }
  }
}
