<div class="container">

  <div class="content add-page">
    <form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">

      <div class="form-img-avatar">
        <img matTooltip="Upload User Image" (click)="profileImagePicker.click()" [src]="imgPlaceHolder" alt="">
      </div>

      <div class="upload-btn">
        <input [hidden]="true" #profileImagePicker type="file" (change)="fileChangeEvent($event)" accept=".jpg, .jpeg, .png" />
      </div>





      <div class="d-row">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput placeholder="Enter name" required>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Phone No</mat-label>
          <input noWhiteSpace digitOnly type="text" formControlName="phoneNo" matInput placeholder="Enter Phone No">
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>

      <div class="d-row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput placeholder="Enter email">
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{id ? 'New Password': 'Password'}}</mat-label>
          <input [required]="!id" [type]="showPassword ? 'text' : 'password'" formControlName="password" matInput
                 [placeholder]="id ? 'Enter new password': 'Enter password'" autocomplete="new-password">
          <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>

      <div class="d-row">
        <mat-form-field appearance="outline">
          <mat-label>Has access</mat-label>
          <mat-select formControlName="hasAccess">
            <mat-option *ngFor="let data of allStatus" [value]="data.value">
              {{ data.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="action">
        <button (click)="onDiscard()" mat-stroked-button color="warn" type="button" class="discard">
          <mat-icon>arrow_back_ios</mat-icon>
          Discard
        </button>

        @if (!isLoading) {
          <button  mat-button class="add-product-btn" color="accent" type="submit">
            <mat-icon>check</mat-icon>
            {{ id ? 'Update User' : 'Add User' }}
          </button>
        } @else {
          <button class="btn-loader" mat-button type="button" color="accent">
            <div><span class="loader"></span></div>
            <div><span class="txt">{{ id ? 'Update User' : 'Add User' }}</span></div>
          </button>
        }
      </div>

    </form> <!-- END! Form -->

  </div> <!-- END! Content -->
</div>
